<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  content-right-side">
        <div class="right-content">
            <div class="top-right-background"></div>
            <div class="bottom-right-image"></div>
        </div>
        <div class="middle-content">
            <div class="text about-text">
                <p>
                    בית הצעירים של עיריית תל אביב יפו פועל לעידוד היזמות החברתית בעיר ולקידום מדיניות לטובת צעירים.הוא עובד בצורה של "קוד פתוח",בהמשתמשים
                    הם שיוצרים את התכנים במקום בהתאם לצרכים שלהם. בית הצעירים של עיריית תל אביב יפו פועל לעידוד היזמות החברתית
                    בעיר ולקידום מדיניות לטובת צעירים.הוא עובד בצורה של "קוד פתוח",בהמשתמשים הם שיוצרים את התכנים במקום בהתאם
                    לצרכים שלהם.
                </p>
                <div class="controls text-center">
                    <button class="btn btn-light read-more-btn">קרא עוד <i class="fas fa-chevron-left"></i></button>
                </div>
            </div>

        </div>
        <div class="left-content">
            <div class="top-left-content text-center"> </div>
            <div class="bottom-left-content bottom-image"></div>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 lines-wrapper">
        <div class="rent-section">
            <div class="header-image rent-section-right">
                <img claas="rent-room-img" src="../../assets/SVG/Asset 46.svg" alt="">
            </div>
            <div class="text legal-text">
                <p>בית הצעירים של עיריית תל אביב יפו פועל לעידוד היזמות החברתית בעיר ולקידום מדיניות לטובת הצעירים.הוא עובד
                    בצורה של "קוד פתוח",בהמשתמ"</p>
            </div>
            <div class="controls text-center">
                <button class="btn btn-light read-more-btn">קרא עוד <i class="fas fa-chevron-left"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="row ">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 calander-img">
    </div>
</div>
<div class="row ">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 calander-slider">
        <div class="cal-right-btn">
            <img src="../../../assets/PNG/Asset 13.png" alt="">
        </div>
        <div class="cal-header-title">
            <p>אוקטובר </p>
        </div>
        <div class="cal-left-btn">
            <img src="../../../assets/PNG/Asset 12.png" alt="">
        </div>
    </div>
</div>

<div class="row calander-warpper">
    <div class="col-xs-12 col-sm-12 col-md-12 col-ld-12 calander">
        <div class="calander-cell calander-right-side">
            <div class="cell date-number">
                <p>09</p>
            </div>
            <div class="cell date-text">
                <p>ראשון</p>
            </div>
        </div>
        <div class="calander-cell calander-center">
            <div class="cell header">
                <p>יום העוגיפלצת</p>
            </div>
            <div class="cell description">
                <p> בית הצעירים של עיריית תל אביב יפו פועל לעידוד היזמות החברתית בעיר</p>
            </div>
        </div>
        <div class="calander-cell calander-left-side text-center">
            <div class="cell">
                <button type="button" class="btn btn-light read-more">קרא עוד <i class="fas fa-chevron-left"></i></button>
            </div>
            <div class="cell">
                <button type="button" class="btn btn-light  register">הרשם</button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-ld-12 calander">
        <div class="calander-cell calander-right-side">
            <div class="cell date-number">
                <p>13</p>
            </div>
            <div class="cell date-text">
                <p>שלישי</p>
            </div>
        </div>
        <div class="calander-cell calander-center">
            <div class="cell header">
                <p>יום העוגיפלצת</p>
            </div>
            <div class="cell description">
                <p> בית הצעירים של עיריית תל אביב יפו פועל לעידוד היזמות החברתית בעיר</p>
            </div>
        </div>
        <div class="calander-cell calander-left-side text-center">
            <div class="cell">
                <button type="button" class="btn btn-light read-more">קרא עוד <i class="fas fa-chevron-left"></i></button>
            </div>
            <div class="cell">
                <button type="button" class="btn btn-light  register">הרשם</button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-ld-12 calander">
        <div class="calander-cell calander-right-side">
            <div class="cell date-number">
                <p>21</p>
            </div>
            <div class="cell date-text">
                <p>חמישי</p>
            </div>
        </div>
        <div class="calander-cell calander-center">
            <div class="cell header">
                <p>יום העוגיפלצת</p>
            </div>
            <div class="cell description">
                <p> בית הצעירים של עיריית תל אביב יפו פועל לעידוד היזמות החברתית בעיר</p>
            </div>
        </div>
        <div class="calander-cell calander-left-side text-center">
            <div class="cell">
                <button type="button" class="btn btn-light read-more">קרא עוד <i class="fas fa-chevron-left"></i></button>
            </div>
            <div class="cell">
                <button type="button" class="btn btn-light  register">הרשם</button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-ld-12 calander">
        <div class="calander-cell calander-right-side">
            <div class="cell date-number">
                <p>26</p>
            </div>
            <div class="cell date-text">
                <p>שבת</p>
            </div>
        </div>
        <div class="calander-cell calander-center">
            <div class="cell header">
                <p>יום העוגיפלצת</p>
            </div>
            <div class="cell description">
                <p> בית הצעירים של עיריית תל אביב יפו פועל לעידוד היזמות החברתית בעיר</p>
            </div>
        </div>
        <div class="calander-cell calander-left-side text-center">
            <div class="cell">
                <button type="button" class="btn btn-light read-more">קרא עוד <i class="fas fa-chevron-left"></i></button>
            </div>
            <div class="cell">
                <button type="button" class="btn btn-light  register">הרשם</button>
            </div>
        </div>
    </div>



</div>