<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dots-wrapper">
        <div class="info-section">
            <div class="header-image info-section-left">
                <img claas="legal-consultant" src="../../assets/SVG/asset 45 blue.svg" alt="">
            </div>
            <div class="text legal-text">
                <p>בית הצעירים של עיריית תל אביב יפו פועל לעידוד היזמות החברתית בעיר ולקידום מדיניות לטובת הצעירים.הוא עובד
                    בצורה של "קוד פתוח",בהמשתמ"</p>
            </div>
            <div class="controls text-center">
                <button class="btn btn-light read-more-btn">קרא עוד <i class="fas fa-chevron-left"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="row slide-wrapper">
    <div class="col-md-12 flex space-between no-padding">
        <img class="img-button-right image-button" src="../../../assets/PNG/Asset 36.png" alt="">

        <p class="text">
            בית הצעירים של עיריית תל אביב יפו פועל לעידוד היזמות החברתית בעיר ולקידום מדיניות לטובת צעירים.הוא עובד בצורה של "קוד פתוח",בהמשתמשים
            הם שיוצרים את התכנים במקום בהתאם לצרכים שלהם.
        </p>

        <img class="img-button-left image-button" src="../../../assets/PNG/Asset 37.png" alt="">

    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dots-wrapper">
        <div class="info-section">
            <div class="header-image info-section-left">
                <img claas="legal-consultant" src="../../assets/SVG/Asset 45.svg" alt="">
            </div>
            <div class="text legal-text">
                <p>בית הצעירים של עיריית תל אביב יפו פועל לעידוד היזמות החברתית בעיר ולקידום מדיניות לטובת הצעירים.הוא עובד
                    בצורה של "קוד פתוח",בהמשתמ"</p>
            </div>
            <div class="controls text-center">
                <button class="btn btn-light read-more-btn">קרא עוד <i class="fas fa-chevron-left"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="row notifications-warpper">
    <div class="col-xs-12 co-sm-12 col-md-12 col-lg-12">
        <div class="notifications-header">
            <img src="../../assets/PNG/Asset 2.png">
        </div>
        <div class="notifications-body"></div>
    </div>
    <div class="controls notifications-controls">
        <button class="btn btn-light read-more-btn notifications-btn">קרא עוד <i class="fas fa-chevron-left"></i></button>
    </div>
</div>